.NewsLetter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(to left, #ffffff, #cfdeec 60%);
  gap: 30px;
}
.NewsLetter h1 {
  margin-top: 100px;
  color: #593d0a;
  font-size: 55px;
  font-weight: 600;
}
.NewsLetter p {
  color: #083556;
  font-size: 20px;
  letter-spacing: 4px;
}
.NewsLetter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #4e4110;
}
.NewsLetter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
.NewsLetter div button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: #083556;
  color: #ecd9b3;
  font-size: 23px;
  cursor: pointer;
  border: none;
  transition: ease-in all 0.2s;
}
.NewsLetter div button:hover {
  background: transparent;
  color: #0d3b5b;
  background: #c4b493;
}
